*{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.title {
    margin-right: 30%;
    color: yellow;
}

.tab {
    padding: 15px;
    font-weight: bold;
    align-self: center;
}

.tab:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

.description {
    display:flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    align-self: stretch;
    justify-self: stretch;
    justify-content: center;
    padding: 30px;
}